doctype html
html
    head
        meta(charset="utf-8")
        title Make Notes
        link(rel="stylesheet", type="text/css", href="stylesheets/annotorious.css")
        script(src="javascripts/annotorious.min.js")
        script(src="javascripts/jquery-1.11.1.min.js")
        script(src="javascripts/jquery.cookie.js")
        script(src="javascripts/javascripts/helper.js")
        script(language="JavaScript").
            var annotObj;
            var annotObjs=[];
            function annotClass(x,y,msg,userName)
            {
            this.x=x;
            this.y=y;
            this.msg=msg;
            this.userName=userName;
            }
            <!--var image=document.getElementById("sample");-->
            anno.addHandler('onAnnotationCreated',function(annotation)
            {
            document.addEventListener('onmouseclick',recordXYText(event,annotation));
            });
            function recordXYText(e,annotation)
            {
            annotObj=new annotClass(e.clientX,e.clientY,annotation.text,document.getElementById("userName").innerHTML);
            //alert("hey"+e.clientX+""+e.clientY+""+annotation.text);
            annotObjs.push(annotObj);
            console.log(annotObjs);
            }
            function submitAnnotations()
            {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 ) {
            if(xmlhttp.status == 200){
            alert("Success")
            }
            else if(xmlhttp.status == 400) {
            alert('There was an error 400')
            }
            else {
            alert('Unexpected error was returned')
            }
            }
            }
            xmlhttp.open("POST", 'notes', true);
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify(annotObjs));
            //alert(annotObjs[0].msg);
            }
            function getData()
            {
            var xhr=new XMLHttpRequest();
            xhr.onreadystatechange=function()
            {
            if(xhr.readyState==4&&xhr.status==200)
            {
            alert(xhr.responseText);
            }
            }
            xhr.open("GET","notes?userName=userName",true);
            xhr.setRequestHeader("Content-Type","application/json;charset=UTF-8");
            xhr.send();
            }

    body
        label#userName userName
        img#sample.annotatable(src="images/Question-Mark.jpg", width="500", height="500", alt="")
        input#submit(type="submit", name="submit", value="Submit", onclick="submitAnnotations()")
        button(onclick="getData()") Read

              